:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
  --color-font:white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbg {
  background-color: #f5f5f5;
}
.navh-bg {
  
  background-color:  #FB8C00;
}
.bg-feed {
  background-color: #eea954
}
.posi-head{
  text-align: center;
padding-bottom: 30px;
}
.posi-head img{
width: 15vw;
margin-bottom: 20px;
color: darkorange;
}
.size-head{
font-size:4vw;
color: rgb(0, 0, 0);
}
.bg-head{
  background-color:  #FB8C00;
}
.posi-nav{
  margin-top: -30px;
}
.card-group{
  padding: 0;
}
.col-3{
  padding: 0;
}
.card-img img{
  width: 20%;
}
.card-shadow{
  box-shadow:5px 5px 9px rgb(196, 196, 196);

}
.card{
  padding: 20px;
}
.color-font{
  color: white;
}
.card-regis{
  
  width: 450px;
}
.posi-reg{

color: rgb(0, 0, 0);
display: flex;
 justify-content: center;
}
.posi-reg h3 {
  text-align: center;
  margin-bottom: 25px;
}
div img{
  width: 300px;
}
.error{
  color: red;
}
*{
  font-style: oblique;
}

