

.btn:focus {
        box-shadow: none;
  }
  div nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  div nav ul li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .borde-s{
      border-radius:100px ;
  }
  .nav-item{
    padding-left: 20px;
  }

  .tx-dark{
    color: black;
    font-style: oblique;
  
  }
  .tx-dark:hover{
    color: rgb(253, 0, 0);
    font-style: oblique;
    
  }