div img{
    display: block;   
    margin-right: auto; 
    margin-left: auto; 
    background-color: darkred;
    width: 100px;

}
div img,h4{
    display: inline;
    /* border-radius: 10vw; */
    /* margin-left: 1vw; */
}
.posi-navprof{
    display: block;   
    margin-right: auto; 
    margin-left: auto; 
}
div ul .posi-3sel{
    margin-bottom: 500px;
}
.tx-w-posi{
 
 margin-top: 50%; 
}
#pic-profile{
width: 27.5pc;

display: block;
}
